.react-tabs {
    -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.react-tabs__tab {
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    height: 44px;
    cursor: pointer;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 600;
    background-color: rgba(82, 82, 82, 0.1);
    border-radius: 3px 3px 0 0;
    color: #585a7c;
}

.react-tabs__tab--selected {
    background: #fff;
    color: #373f56;
    height: 50px;
    box-shadow: 0px -6px 8px 1px rgba(0,0,0,0.1)
}

.react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
}

.react-tabs__tab:focus {
    box-shadow: 0 0 5px hsl(208, 99%, 50%);
    border-color: hsl(208, 99%, 50%);
    outline: none;
}

.react-tabs__tab:focus:after {
    content: "";
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: #fff;
}

.react-tabs__tab-panel {
    display: none;
    padding: 20px;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1);
}

.react-tabs__tab-panel--selected {
    display: block;
    background-color: white;
}
