
.dashboard .Select-control {
    border-radius: 3px;
    border: 1px solid #f2f2f2 !important;
    height: 45px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.05) !important;
    font-size: 13px;
}

.dashboard .Select-multi-value-wrapper {
    height: 45px;
}

.dashboard .Select-input {
    height: 45px;
}

.dashboard .Select-placeholder {
    line-height: 45px;
    padding-left: 14px;
    color: #273141;
    font-size: 13px;
    font-weight: 600;
}

.dashboard .Select-menu-outer {
    border-radius: 0px 0px 3px 3px;
    border: 1px solid #f2f2f2
}

